# 账号密码
account.yml
email.yml

# 下载的成绩
credit_score.html
guide_score.html

# 下载的课程表
schedule.html

# 下载的验证码
validateCode.jpg

# byebug历史
.byebug_history

# 下载的成绩
result/*.yml
result/*.ics

# macOS产生的日志文件
.DS_STORE
